/Antivirus/Debug/Antivirus.exe
/Antivirus/Debug/Antivirus.ilk
/Antivirus/Debug/Antivirus.log
/Antivirus/Debug/Antivirus.obj
/Antivirus/Debug/Antivirus.pch
/Antivirus/Debug/Antivirus.pdb
/Antivirus/Debug/Antivirus.tlog/Antivirus.lastbuildstate
/Antivirus/Debug/Antivirus.tlog/CL.read.1.tlog
/Antivirus/Debug/Antivirus.tlog/CL.write.1.tlog
/Antivirus/Debug/Antivirus.tlog/cl.command.1.tlog
/Antivirus/Debug/Antivirus.tlog/link.command.1.tlog
/Antivirus/Debug/Antivirus.tlog/link.read.1.tlog
/Antivirus/Debug/Antivirus.tlog/link.write.1.tlog
/Antivirus/Debug/DiskInteraction.obj
/Antivirus/Debug/Signature.obj
/Antivirus/Debug/SignatureBase.obj
/Antivirus/Debug/stdafx.obj
/Antivirus/Debug/vc120.idb
/Antivirus/Debug/vc120.pdb
/Antivirus/ipch/antivirus-71fcbd88/antivirus-f76fa7f1.ipch
/Antivirus/Antivirus.opensdf
/Antivirus/Antivirus.sdf
/Antivirus/Antivirus.v12.suo
